
.head-pic-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-pic{
  width: 95%;
  bottom: 0px;
  object-fit: cover;
  height: 600px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 3rem;
}


.editor{
  justify-content: center;
}

.editor p{
  font-size: 2rem;
  color: #7d7b7b;
  font-style:italic;
}

.product {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: 16px;
  break-inside: avoid;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 100%;
  display: block;
}

.price-container{
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  max-width: 100%;
  margin-bottom: 0.3rem;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;

}

.badge-container{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: #eee;
}

.price-value {
    display: inline-block;
}


.product:hover .price-container {
  opacity: 1;
}
