.cart {
  margin-top: 16px;
  padding: 0 8px;
}

.cart form {
  display: flex;
  justify-content: flex-end;
}

.cart-line{
  border: 1px solid rgba(128, 128, 128, 0.388);
}

.cart-checkout-btn{
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  align-items: center;
  color: white;
  background-color: #F1641E;
}
