* {
  font-family: Arial, sans-serif;
}


.page-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;

}

.product-img-detail-container{
  display: flex;
  flex-direction: row;

}

.product-img-container{
  display: flex;
  flex-direction: row;
  width: 65%;
}

.arrow-btn-left{
  position: absolute;
  top: 50%;
  left: 20%;
  font-weight: 500;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.arrow-btn-right{
  position: absolute;
  top: 50%;
  right: 38%;
  font-weight: 500;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}


.other-img-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-img{
  /* width: 65%; */
  width: 600px;
}

.other-imgs{
  width: 35%;
}

.product-info-container{
  display: flex;
  flex-direction: column;
  width: 35%;

}

.btn-container{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.return{
  display: flex;
  align-items: center;
}

.price{
  color: #0f743b;
  font-weight: 500;
  font-size: 27.01px;
  line-height: 1.3;
  letter-spacing: .13505px;
}

.name{
  font-weight: 500;
  font-size: 27.01px;
  line-height: 1.3;
  letter-spacing: .13505px;
}

.buy-btn{
  padding: 10px 20px;
  border: 1px solid black;
  background-color:white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.add-cart-btn{
  padding: 10px 20px;
  border: 1px solid black;
  background-color:black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.buy-btn:disabled, .add-cart-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.add-fav-btn{
  padding: 10px 20px;
  border: 1px transparent;
  background-color:white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}


.review-container {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

.review-detail-box{
  display: flex;
  flex-direction: column;
  border-bottom: 0.7px solid rgba(128, 128, 128, 0.388);
}

.name-and-date{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-head{
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.388);
}

.review-post-btn{
  border-radius: 10px;
  border: 1.5px solid rgba(128, 128, 128, 0.388);
  align-items: center;
  margin-bottom: 8px;
  color: white;
  background: black;
}

.update-delete-review{
  margin-bottom: 2px;
}

.review-btn-edit {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:10px;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

}

.review-btn-edit:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.review-btn-delete {
	box-shadow:inset 0px 0px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.review-btn-delete:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
