.login-container{
  width: 300px;
  margin: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.signin-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  display: block;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button-login {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;

}
